@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Outfit", sans-serif;
}

.logo {
  width: 50px;
  height: 50px;
  will-change: transform;
}

.navbar {
  /* Navbar effetto sfocato */
  backdrop-filter: blur(10px);
  color: var(--mood-text);
}

.navbar .nav-link,
.navbar .navbar-brand {
  color: var(--mood-text);
}

.navbar.scrolled {
  .nav-link,
  .navbar-brand {
    color: #ffffff;
  }
  background-color: rgba(78, 73, 93, 0.5);
}

.navbar .btn {
  font-size: 1.2rem;
  line-height: 1;
  border: none;
}

.navbar .btn:hover {
  opacity: 0.8;
  transition: opacity 0.2s ease;
}

.main-container {
  background-color: var(--mood-bg);
  color: var(--mood-text);
  transition: background-color 0.4s ease, color 0.4s ease;
}

.main-container .accent {
  color: var(--mood-accent);
}

.focus-0 {
  box-shadow: none !important;
  border-color: transparent !important;
  outline: none !important;
}

.card-container {
  border-radius: 20px;
  overflow: hidden;
}

.card-body {
  color: var(--mood-text-card);
  transition: background-color 0.4s ease, color 0.4s ease;
  position: absolute;
  bottom: 0;
  width: 100%;
  z-index: 2;
  padding: 1.5rem;
  background: transparent;
}

.card-title {
  text-align: center;
}

.card-desc {
  height: 8rem;
  text-align: center;
  font-size: 1.2rem;
  font-weight: 200;
}

.card-img-container {
  width: 100%;
  height: 400px;
  overflow: hidden;
}

.card-img-top-full {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  filter: brightness(0.15);
}

.try-you-to {
  background-color: rgba(0, 0, 0, 0.8);
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.try-button {
  background-color: var(--mood-bg);
  border: var(--mood-bg);
  color: var(--mood-text);
}

.cookie-message {
  box-shadow: 0 -2px 8px rgba(0, 0, 0, 0.2);
}

.rhap_container {
  background: rgba(255, 255, 255, 0.1) !important; /* vetroso chiaro */
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px); /* per Safari */
  border-radius: 20px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
  border: 1px solid rgba(255, 255, 255, 0.2);
  transition: background-color 0.3s ease;
}

.rhap_controls-section {
  display: flex;
  justify-content: center;
}

.rhap_main-controls-button,
.rhap_volume-bar,
.rhap_progress-indicator {
  color: white !important;
  filter: drop-shadow(0 0 2px rgba(0, 0, 0, 0.3));
}

.rhap_main-controls-button:hover {
  color: var(--mood-bg) !important;
}

.rhap_progress-bar {
  background-color: rgba(255, 255, 255, 0.2) !important;
  height: 6px;
}

.rhap_progress-filled {
  background-color: var(--mood-bg) !important;
}

.rhap_time {
  color: white !important;
}

.active-track {
  background-color: var(--mood-bg) !important;
  color: var(--mood-text) !important;

  h4,
  p {
    color: var(--mood-text) !important;
  }
}

.inactive-track {
  background-color: #212529; /* bg-dark */
  color: white;
}

/* Contenitore principale */
.audius-player-container {
  background-color: #121212;
  color: #fff;
  padding: 20px;
  border-radius: 10px;
  margin: 0 auto;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

/* Dettaglio della traccia in esecuzione */
.track-details-container {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.track-details-container .album-art {
  width: 80px;
  height: 80px;
  margin-right: 15px;
}

.track-info {
  display: flex;
  flex-direction: column;
}

.track-title {
  font-size: 1.5em;
  font-weight: bold;
}

.track-title-list {
  font-size: 1em;
  font-weight: 500;
}

.artist-name {
  color: #aaa;
  font-size: 1.2em;
}

.artist-name-list {
  color: #aaa;
  font-size: 0.9em;
}

.audio-player-container {
  margin-bottom: 20px;
}

.audio-player {
  width: 100%;
  background-color: #333;
  border-radius: 5px;
  padding: 10px;
}

.track-list-container {
  max-height: 300px;
  overflow-y: auto;
}

.track-item {
  display: flex;
  align-items: center;
  padding: 2px 5px;
  cursor: pointer;
  transition: background-color 0.2s;
  border-bottom: 1px solid #444;
}

.track-item:hover {
  background-color: #6dc48b;
  color: var(--mood-text-card);

  p {
    color: white;
  }
}

.track-item .album-art {
  width: 30px;
  height: 30px;
  margin-right: 15px;
}

.track-item .track-title {
  font-weight: bold;
}

.track-item .artist-name {
  color: #aaa;
}

.track-index {
  width: 30px;
  text-align: center;
  margin-right: 15px;
  position: relative;
}

.track-item .play-icon {
  color: #fff;
  font-size: 1.5em;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  visibility: hidden;
}

.track-item:hover .play-icon {
  visibility: visible;
}

@media (min-width: 768px) {
  .border-md-none {
    border-bottom: none !important;
  }
}
